#clock img {
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; */
    position: absolute;
}

#hour {
    /* display: inline-flex;
    position: relative; */
    position: absolute;
    z-index: 0;
    transform: rotate(0deg);
}

#minute {
    /* display: inline-flex;
    position: relative; */
    position: absolute;
    z-index: 1;
    transform: rotate(0deg);
    
#second {
    /* display: inline-flex;
    position: relative; */
    position: absolute;
    z-index: 2;
    transform: rotate(0deg);
}

#clock {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
}